<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0">
    <img class="brand-logo" src="assets/angular.png" alt="positronX.io Logo">
  </a>
      <ul class="nav flex-column">
         
          <!-- Calling SignOut() Api from AuthService -->
          <li class="nav-item">
            <a class="nav-link" (click)="authService.SignOut()">
              <i class="fas fa-sign-out-alt"></i>Log out
            </a>
          </li>
          
        </ul>
</nav>

<!-- Sidebar navigation -->
<div class="container-fluid">
  <div class="row">

    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
        
          <li class="nav-item mt-3">
            <a class="nav-link" routerLink="/register-product" routerLinkActive="active">
              Add product
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/view-product" routerLinkActive="active">
              products List
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      
      <div class="inner-adjust">

        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Wellcome to Dashboard! </h1>
          <p>Email: <strong>{{authService.userData.email}}</strong></p>
        </div>
       
      

      </div>
    </main>

  </div>
</div>